.idea
HandmadeBaseLibrary.sln.DotSettings.user

# HandmadeBaseLibrary/
HandmadeBaseLibrary/bin
HandmadeBaseLibrary/obj

# HandmadeBaseLibraryTests/
HandmadeBaseLibraryTests/bin
HandmadeBaseLibraryTests/obj